<div class="angularjs">
	<a href="#" class="close">close</a>
	<div class="left-side">
		<img src="img/angular-logo.png" alt="" class="tech-logo">
		<p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
	</div>
	<div class="right-side">
		<div class="infobit">
			<div class="subtitle">
				Website
			</div>
			<div class="info">
				<a href="http://angularjs.org">angularjs.org</a>
			</div>			
		</div>
		<div class="infobit">
			<div class="subtitle">
				Recent Ninja Quote:
			</div>
			<div class="info">
				<blockquote>
					“I love Angular, this took like 10min to build!”
				</blockquote>
			</div>			
		</div>
	</div>
</div>