<div class="expressjs">
	<a href="#" class="close">close</a>
	<div class="left-side">
		<img src="img/express-logo.png" alt="" class="tech-logo">
		<p>Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.</p>
	</div>
	<div class="right-side">
		<div class="infobit">
			<div class="subtitle">
				Website
			</div>
			<div class="info">
				<a href="http://expressjs.com/">expressjs.com</a>
			</div>			
		</div>
		<div class="infobit">
			<div class="subtitle">
				Recent Ninja Quote:
			</div>
			<div class="info">
				<blockquote>
					“I love Express, this took like 10min to build!”
				</blockquote>
			</div>			
		</div>
	</div>
</div>
<script>
if (_gaq) _gaq.push(['_trackEvent', 'meanlean', 'hover', 'express', 1]);
</script>
