<div class="lead">
	<h1>hire your ninja!</h1>
	<p>please fill up this form so we'll contact you back</p>
	<form id="leadForm" novalidate>
		<input type="text" placeholder="First Name" name="first_name" data-ng-blur="changeNinjaState(1);"><br>
		<input type="text" placeholder="Last Name" name="last_name" data-ng-blur="changeNinjaState(2);"><br>
		<input type="tel" placeholder="Phone Number" name="phone" data-ng-blur="changeNinjaState(3);"><br>
		<input type="email" placeholder="Email" name="email" data-ng-blur="changeNinjaState(4);"><br>
		<input type="submit" value="Submit" class="cta">
	</form>
	<div class="ninja-container">
		<img src="img/ninja-full.jpg" alt="Never Seen a NINJA?!">
		<img class="ninja-half" src="img/ninja-half-1.jpg" alt="Fill The Form!">
	</div>
</div>