<div class="mongodb">
	<a href="#" class="close">close</a>
	<div class="left-side">
		<img src="img/mongo-logo.png" alt="" class="tech-logo">
		<p>MongoDB (from "humongous") is an open source document-oriented database system developed and supported by 10gen. It is part of the NoSQL family of database systems. Instead of storing data in tables as is done in a "classical" relational database, MongoDB stores structured data as JSON-like documents with dynamic schemas (MongoDB calls the format BSON), making the integration of data in certain types of applications easier and faster.</p>
	</div>
	<div class="right-side">
		<div class="infobit">
			<div class="subtitle">
				Website
			</div>
			<div class="info">
				<a href="http://mongodb.org">mongodb.org</a>
			</div>			
		</div>
		<div class="infobit">
			<div class="subtitle">
				Recent Ninja Quote:
			</div>
			<div class="info">
				<blockquote>
					“I love MongoDB, this took like 10min to build!”
				</blockquote>
			</div>			
		</div>
	</div>
</div>