<div class="nodejs">
	<a href="#" class="close">close</a>
	<div class="left-side">
		<img src="img/node-logo.png" alt="" class="tech-logo">
		<p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</p>
	</div>
	<div class="right-side">
		<div class="infobit">
			<div class="subtitle">
				Website
			</div>
			<div class="info">
				<a href="http://nodejs.org/">nodejs.org</a>
			</div>			
		</div>
		<div class="infobit">
			<div class="subtitle">
				Recent Ninja Quote:
			</div>
			<div class="info">
				<blockquote>
					“I love Node, this took like 10min to build!”
				</blockquote>
			</div>			
		</div>
	</div>
</div>